@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Products & Categories!</h1>
        <hr>
        <h5>Use links to view or add a new Product or Category.</h5>
    </div>
</div>
